<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block bienvenue %}{% endblock %}
            {% block menu %}{% endblock %}
            {% block page %}{% endblock %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>