{% extends 'base.html.twig' %}

{% block title %}CBD DEALERZZZ - Listing{% endblock %}

{% block page %}
    <form method="post">
        <h2>Liste de tous les articles</h2>
        <table>
            <tr>
                <th>libelle</th>
                <th>prix</th>
                <th>stock</th>
                <th></th>
            </tr>

            {% for article in articles %}
                <tr class="tr-table">
                    <td>{{ article.libelle }}</td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.stock }}</td>
                    <td><a href="{{ path ('product_add_to_basket', { 'id' : article.id} ) }}">Ajouter</a></td>
                </tr>
            {% endfor %}

        </table>
    </form>

{% endblock %}
