{% extends "site/base.html.twig" %}
{% block body %}
    <h1> Toz </h1>
    {% block bienvenue %}
        {% include 'site/entete.html.twig' %}
        {% endblock %}
{%endblock%}
{% block footer %}
    {% include 'site/piedpage.html.twig' %}
{% endblock %}

