body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #CAD2C5;
    margin: 0;
    padding: 0;
}
h1{
    color: #2F3E46;
}

.title{
    text-align: center;
    padding: 20px;
}

.footer{
    margin: 0;
    padding: 14px 16px;
    text-align: center;
    background-color: #52796F;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #2F3E46;
}


img {
    max-width: 200px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #52796F;
    color: #CAD2C5;
}

li {
    float: left;
}

.connect{
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #84A98C;
}