<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CBD DEALERZZZ{% endblock %}</title>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body>
{% block body %}
    {% block bienvenue %}{% include 'site/entete.html.twig' %}{% endblock %}
    {% block menu %}{% include 'site/menu.html.twig' %}{% endblock %}
{% endblock %}

{% block page %}{% endblock %}

{% block footer %}
    {% include 'site/piedpage.html.twig' %}
{% endblock %}
</body>
</html>